<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fieldwork.stockmis.dao.ComponentDao">
    <resultMap id="ComponentMap" type="com.fieldwork.stockmis.entity.Component">
        <result property="componentId" column="component_id"/>
        <result property="componentClass" column="class"/>
        <result property="componentSpecies" column="species"/>
        <result property="componentType" column="type"/>
        <result property="count" column="count"/>
    </resultMap>

    <resultMap id="SearchMap" type="com.fieldwork.stockmis.entity.ComponentSearchResult">
        <result property="componentId" column="component_id"/>
        <result property="componentClass" column="class"/>
        <result property="componentSpecies" column="species"/>
        <result property="componentType" column="type"/>
        <result property="stockNo" column="stock_no"/>
        <result property="partNo" column="part_no"/>
        <result property="shelfNo" column="shelf_no"/>
        <result property="tierNo" column="tier_no"/>
    </resultMap>

    <update id="updateCompenentCount">
        update component set count = count + #{addOrMinusCount} where component_id = #{componentId}
    </update>

    <insert id="insertAnCompoent">
        insert into component (component_id, class, species, type, count) VALUES (#{componentId}, #{componentClass}, #{componentSpecies}, #{componentType}, #{count})
    </insert>

    <select id="getComponentById" resultMap="ComponentMap">
        select component_id, class, species, type, count from component where component_id = #{componentId}
    </select>

    <delete id="deleteComponentById">
        delete from component where component_id = #{componentId}
    </delete>

    <select id="getComponentCountById" resultType="int">
        select count(1) from component where component_id = #{componentId}
    </select>

    <select id="getComponentsByClass" resultMap="ComponentMap">
        select * from component where class = #{componentClass}
    </select>

    <select id="searchComponentById" resultMap="SearchMap">
        select component.component_id, class, species, type, stock_no, part_no, shelf_no, tier_no
        from component left join position on component.component_id = position.component_id
        where component.component_id = #{idSearchText}
    </select>
</mapper>