<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.fieldwork.stockmis.dao.PositionDao">
    <resultMap id="SearchMap" type="com.fieldwork.stockmis.entity.SearchResult">
        <result property="componentId" column="component_id"/>
        <result property="componentClass" column="class"/>
        <result property="componentSpecies" column="species"/>
        <result property="componentType" column="type"/>
        <result property="stockNo" column="stock_no"/>
        <result property="partNo" column="part_no"/>
        <result property="shelfNo" column="shelf_no"/>
        <result property="tierNo" column="tier_no"/>
    </resultMap>

    <select id="getComponentIdByPosition" resultType="int">
        select component_id from position where stock_no = #{stockNo} and part_no = #{partNo} and shelf_no = #{shelfNo} and tier_no = #{tierNo}
    </select>

    <insert id="insertAPositionRecord">
        insert into position (stock_no, part_no, shelf_no, tier_no, component_id) values (#{stockNo}, #{partNo}, #{shelfNo}, #{tierNo}, #{componentId});
    </insert>

    <delete id="deletePositionByComponentId">
        delete from position where component_id = #{componentId}
    </delete>

    <select id="searchComponentByPosition" resultMap="SearchMap">
        select component.component_id, class, species, type, stock_no, part_no, shelf_no, tier_no
        from component left join position on component.component_id = position.component_id
        where stock_no = #{stockNo} and part_no = #{partNo} and shelf_no = #{shelfNo} and tier_no = #{tierNo}
    </select>
</mapper>